html {
  background-color: #f0f0f0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
}

body {
  color: #dedede;
  background-color: #f0f0f0;
  padding: 20px;
  margin-top: 3vh;
  width: 60%;
  align-self: center;
  display: flex;
  flex-direction: column;
  font-family: 'Helvetica', 'Arial', sans-serif;
}

a {
  text-decoration: none;
  color: black;
  padding-right: 15px;
}

a:hover {
  color: gold;
  

}

.writingSections {
    width: 500px;
}

h1 {
  align-self: baseline;
  font-size: 4em;
  line-height: 15px;
  padding-top: 50px;
  color: black;

}

.hrHeader {
  border-color: black;
  width: 100%;
  /* margin-top: 1.5vh; */
}

.headerLinks {
  margin-top: 20px;
  font-size: 1.6em;
  align-self: baseline;
  padding-bottom: 15px;
}

.mainContents {
  background-color: blue;
  align-self: baseline;
  width: 70%;
}

.sidebarContents {
  position: fixed;
  right: 20%;
  top: 25%;
  width: 12%;

  background-color: green;
}
